 .u-section-1 {
  background-image: url("images/32208119-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 736px;
}

.u-section-1 .u-text-1 {
  margin: 17px 70px 0;
}

.u-section-1 .u-countdown-1 {
  margin: 30px auto 0;
  padding: 50px 382px;
}

.u-section-1 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-image-1 {
  width: 71px;
  height: 71px;
  margin: 0 auto 0 279px;
}

.u-section-1 .u-image-2 {
  width: 72px;
  height: 72px;
  margin: -71px auto 0 60px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -55px 600px 0 360px;
}

.u-section-1 .u-image-3 {
  width: 71px;
  height: 71px;
  margin: -54px auto 0 536px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -54px 343px 0 617px;
}

.u-section-1 .u-image-4 {
  width: 71px;
  height: 71px;
  margin: -55px auto 0 797px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -54px 871px 0 142px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -38px 82px 0 878px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 19px 861px 0 142px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: -4px auto 0 142px;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  margin: -5px auto 0 142px;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  margin: -84px 680px 0 360px;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  margin: -32px 353px 0 617px;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  margin: 0 auto 0 617px;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  margin: -5px 432px 0 617px;
}

.u-section-1 .u-text-13 {
  font-size: 1.25rem;
  margin: -91px 92px 0 878px;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  margin: 0 auto 0 360px;
}

.u-section-1 .u-text-15 {
  font-size: 1.25rem;
  margin: 27px auto 0 360px;
}

.u-section-1 .u-text-16 {
  font-size: 1.25rem;
  margin: -64px 689px 0 360px;
}

.u-section-1 .u-text-17 {
  font-size: 1.25rem;
  margin: -59px auto 0 878px;
}

.u-section-1 .u-text-18 {
  font-size: 1.25rem;
  margin: 27px auto 0 878px;
}

.u-section-1 .u-text-19 {
  font-size: 1.25rem;
  margin: -64px 171px 0 878px;
}

.u-section-1 .u-text-20 {
  font-size: 1.25rem;
  margin: -8px auto 0 142px;
}

.u-section-1 .u-text-21 {
  font-size: 1.25rem;
  margin: -24px 455px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 72px;
  height: 72px;
  margin: 0 auto 0 60px;
}

.u-section-1 .u-image-6 {
  width: 71px;
  height: 71px;
  margin: -72px auto 0 279px;
}

.u-section-1 .u-text-22 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -54px 600px 0 360px;
}

.u-section-1 .u-image-7 {
  width: 71px;
  height: 71px;
  margin: -54px auto 0 536px;
}

.u-section-1 .u-text-23 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -54px 343px 0 617px;
}

.u-section-1 .u-image-8 {
  width: 71px;
  height: 71px;
  margin: -55px auto 0 797px;
}

.u-section-1 .u-text-24 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -54px 82px 0 878px;
}

.u-section-1 .u-text-25 {
  font-weight: 700;
  font-size: 1.375rem;
  margin: -38px 871px 0 142px;
}

.u-section-1 .u-text-26 {
  font-size: 1.25rem;
  margin: 19px 861px 0 142px;
}

.u-section-1 .u-text-27 {
  font-size: 1.25rem;
  margin: -4px auto 0 142px;
}

.u-section-1 .u-text-28 {
  font-size: 1.25rem;
  margin: -5px auto 0 142px;
}

.u-section-1 .u-text-29 {
  font-size: 1.25rem;
  margin: -84px 680px 0 360px;
}

.u-section-1 .u-text-30 {
  font-size: 1.25rem;
  margin: -32px 353px 0 617px;
}

.u-section-1 .u-text-31 {
  font-size: 1.25rem;
  margin: -32px 92px 0 878px;
}

.u-section-1 .u-text-32 {
  font-size: 1.25rem;
  margin: 0 auto 0 617px;
}

.u-section-1 .u-text-33 {
  font-size: 1.25rem;
  margin: -5px 391px 0 617px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-34 {
  font-size: 1.25rem;
  margin: -4px 437px 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-35 {
  font-size: 1.25rem;
  margin: -87px auto 0 360px;
}

.u-section-1 .u-text-36 {
  font-size: 1.25rem;
  margin: 27px auto 0 360px;
}

.u-section-1 .u-text-37 {
  font-size: 1.25rem;
  margin: -64px 689px 0 360px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-38 {
  font-size: 1.25rem;
  margin: -59px auto 0 878px;
}

.u-section-1 .u-text-39 {
  font-size: 1.25rem;
  margin: 27px auto 0 878px;
}

.u-section-1 .u-text-40 {
  font-size: 1.25rem;
  margin: -64px 128px 0 878px;
}

.u-section-1 .u-text-41 {
  font-size: 1.25rem;
  margin: -7px auto 7px 142px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 82px;
    margin-right: 82px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -50px;
    margin-right: 500px;
    margin-left: 262px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 243px;
    margin-left: 517px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 52px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -233px;
    margin-right: 771px;
    margin-left: 42px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 141px;
    margin-right: 0;
    margin-left: 760px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -154px;
    margin-right: 761px;
    margin-left: 42px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 42px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 42px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -49px;
    margin-right: 580px;
    margin-left: 262px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 43px;
    margin-right: 253px;
    margin-left: 517px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 517px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 332px;
    margin-left: 517px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 770px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -75px;
    margin-left: 260px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 297px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 11px;
    margin-right: 589px;
    margin-left: 262px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 770px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 770px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 79px;
    margin-left: 770px;
  }

  .u-section-1 .u-text-20 {
    margin-top: -82px;
    margin-left: 42px;
  }

  .u-section-1 .u-text-21 {
    margin-top: 50px;
    margin-right: 375px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 500px;
    margin-left: 260px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 243px;
    margin-left: 517px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
    margin-left: 760px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 771px;
    margin-left: 42px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 761px;
    margin-left: 42px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 42px;
  }

  .u-section-1 .u-text-28 {
    margin-left: 42px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 580px;
    margin-left: 260px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 253px;
    margin-left: 517px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 0;
    margin-left: 770px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 509px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 300px;
    margin-left: 509px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 360px;
  }

  .u-section-1 .u-text-35 {
    margin-left: 260px;
  }

  .u-section-1 .u-text-36 {
    margin-left: 260px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 589px;
    margin-left: 260px;
  }

  .u-section-1 .u-text-38 {
    margin-left: 770px;
  }

  .u-section-1 .u-text-39 {
    margin-left: 770px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 79px;
    margin-left: 770px;
  }

  .u-section-1 .u-text-41 {
    margin-left: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 390px;
    margin-left: 201px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 400px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 133px;
    margin-left: 407px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 180px;
    margin-left: 649px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -749px;
    margin-right: 593px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 657px;
    margin-left: 540px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -670px;
    margin-right: 583px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: 147px;
    margin-right: 470px;
    margin-left: 201px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 75px;
    margin-right: 143px;
    margin-left: 407px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 407px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 222px;
    margin-left: 407px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 10px;
    margin-left: 540px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -107px;
    margin-left: 150px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 227px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 479px;
    margin-left: 201px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 540px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 540px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 89px;
    margin-left: 540px;
  }

  .u-section-1 .u-text-20 {
    margin-top: -146px;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-top: 114px;
    margin-right: 287px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 390px;
    margin-left: 150px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 133px;
    margin-left: 407px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 649px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 540px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 593px;
    margin-left: 0;
  }

  .u-section-1 .u-text-26 {
    margin-right: 583px;
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    margin-left: 0;
  }

  .u-section-1 .u-text-28 {
    margin-left: 0;
  }

  .u-section-1 .u-text-29 {
    margin-right: 470px;
    margin-left: 150px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 143px;
    margin-left: 407px;
  }

  .u-section-1 .u-text-31 {
    margin-left: 550px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 390px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 199px;
    margin-left: 390px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 276px;
  }

  .u-section-1 .u-text-35 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-36 {
    margin-left: 150px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 479px;
    margin-left: 150px;
  }

  .u-section-1 .u-text-38 {
    margin-left: 550px;
  }

  .u-section-1 .u-text-39 {
    margin-left: 550px;
  }

  .u-section-1 .u-text-40 {
    margin-left: 550px;
  }

  .u-section-1 .u-text-41 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -19px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -52px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: -90px;
    margin-right: 300px;
    margin-left: 151px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 264px;
    margin-left: 469px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-right: 43px;
    margin-left: 317px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 146px;
    margin-left: 469px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-top: -514px;
    margin-right: 413px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-top: 435px;
    margin-left: 360px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    margin-top: -450px;
    margin-right: 403px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
    margin-top: 87px;
    margin-right: 380px;
    margin-left: 151px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
    margin-top: 157px;
    margin-right: 53px;
    margin-left: 317px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1rem;
    margin-left: 317px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1rem;
    margin-top: -11px;
    margin-right: 132px;
    margin-left: 317px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1rem;
    margin-top: -104px;
    margin-left: 360px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1rem;
    margin-top: -143px;
    margin-left: 60px;
  }

  .u-section-1 .u-text-15 {
    font-size: 1rem;
    margin-top: 14px;
    margin-left: 170px;
  }

  .u-section-1 .u-text-16 {
    font-size: 1rem;
    margin-top: 31px;
    margin-right: 389px;
    margin-left: 151px;
  }

  .u-section-1 .u-text-17 {
    font-size: 1rem;
    margin-top: -105px;
    margin-left: 360px;
  }

  .u-section-1 .u-text-18 {
    font-size: 1rem;
    margin-left: 360px;
  }

  .u-section-1 .u-text-19 {
    font-size: 1rem;
    margin-left: 360px;
  }

  .u-section-1 .u-text-20 {
    font-size: 1rem;
    margin-top: -293px;
  }

  .u-section-1 .u-text-21 {
    font-size: 1rem;
    margin-top: 321px;
    margin-right: 215px;
  }

  .u-section-1 .u-text-22 {
    font-size: 1rem;
    margin-right: 300px;
    margin-left: 60px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 469px;
  }

  .u-section-1 .u-text-23 {
    font-size: 1rem;
    margin-right: 43px;
    margin-left: 317px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 469px;
  }

  .u-section-1 .u-text-24 {
    font-size: 1rem;
    margin-top: -64px;
    margin-left: 360px;
  }

  .u-section-1 .u-text-25 {
    font-size: 1rem;
    margin-top: -16px;
    margin-right: 413px;
  }

  .u-section-1 .u-text-26 {
    font-size: 1rem;
    margin-top: 6px;
    margin-right: 403px;
  }

  .u-section-1 .u-text-27 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-28 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-29 {
    font-size: 1rem;
    margin-right: 380px;
    margin-left: 60px;
  }

  .u-section-1 .u-text-30 {
    font-size: 1rem;
    margin-top: -52px;
    margin-right: 53px;
    margin-left: 317px;
  }

  .u-section-1 .u-text-31 {
    font-size: 1rem;
    margin-left: 370px;
  }

  .u-section-1 .u-text-32 {
    font-size: 1rem;
    margin-top: -20px;
    margin-left: 293px;
  }

  .u-section-1 .u-text-33 {
    font-size: 1rem;
    margin-right: 116px;
    margin-left: 293px;
  }

  .u-section-1 .u-text-34 {
    font-size: 1rem;
    margin-right: 207px;
  }

  .u-section-1 .u-text-35 {
    font-size: 1rem;
    margin-top: -18px;
    margin-left: 60px;
  }

  .u-section-1 .u-text-36 {
    font-size: 1rem;
    margin-left: 60px;
  }

  .u-section-1 .u-text-37 {
    font-size: 1rem;
    margin-right: 389px;
    margin-left: 60px;
  }

  .u-section-1 .u-text-38 {
    font-size: 1rem;
    margin-top: -72px;
    margin-left: 370px;
  }

  .u-section-1 .u-text-39 {
    font-size: 1rem;
    margin-left: 370px;
  }

  .u-section-1 .u-text-40 {
    font-size: 1rem;
    margin-left: 370px;
  }

  .u-section-1 .u-text-41 {
    font-size: 1rem;
    margin-top: 60px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 269px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 160px;
    margin-left: 95px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 213px;
    margin-left: 269px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 160px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 269px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -464px;
    margin-right: 213px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 384px;
    margin-left: 160px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -425px;
    margin-right: 203px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 61px;
    margin-right: 240px;
    margin-left: 95px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 170px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 170px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 32px;
    margin-left: 217px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 160px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 107px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 249px;
    margin-left: 95px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 160px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 160px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 160px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 135px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 269px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 100px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 269px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
    margin-left: 160px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 269px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 160px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 213px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 203px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 240px;
    margin-left: 0;
  }

  .u-section-1 .u-text-30 {
    margin-right: 0;
    margin-left: 170px;
  }

  .u-section-1 .u-text-31 {
    margin-left: 170px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 184px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 25px;
    margin-left: 184px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 130px;
  }

  .u-section-1 .u-text-35 {
    margin-left: 0;
  }

  .u-section-1 .u-text-36 {
    margin-left: 0;
  }

  .u-section-1 .u-text-37 {
    margin-right: 249px;
    margin-left: 0;
  }

  .u-section-1 .u-text-38 {
    margin-left: 170px;
  }

  .u-section-1 .u-text-39 {
    margin-left: 170px;
  }

  .u-section-1 .u-text-40 {
    margin-left: 170px;
  }
}